* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 13vh;
}

.title{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px black solid;
}

.org{
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.org-logo{
    background-image: url(./image.png);
    height: 8vh;
    width: 15vw;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-box{
    height: 5rem;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 5rem;
    width: 40vw;
    display: flex;
    align-items: center;
}

.box2{
    height: 2.5rem;
    width: 35vw;
    font-size: 1rem;
    color: black;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 1rem;
}

.search-btn{
    height: 2.75rem;
    width: 5vw;
    background-color: deepskyblue;
    border: 1px black solid;  
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-logo{
    background-image: url(./search_149852.png);
    background-repeat: no-repeat;
    height: 1.60rem;
    width: 1.5vw;
}

.account{
    height: 5rem;
    width: 20vw;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-box{
    height: 3rem;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
}

.myacctxt{
    cursor: pointer;
    width: 7.5vw;
    display: flex;
    justify-content: center;
}

.account-box:hover{
    cursor: pointer;
    font-size: 1.15vw;
    transition-duration: 250ms;
    width: 10vw;
}

.account-logo{
    background-image: url(./user_1144760.png);
    height: 2rem;
    width: 2vw;
    background-repeat: no-repeat;
}

.cart{
    height: 5rem;
    width: 20vw;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-box{
    height: 3rem;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
}

.mycart-txt{
    cursor: pointer;
    transition-duration: 250ms;
    margin-right: 1vw;
}

.cart-box:hover{
    cursor: pointer;
    font-size: 1.15vw;
    transition-duration: 250ms;
    width: 10vw;
}

.cart-logo{
    background-image: url(./shopping-cart_1170627.png);
    height: 2rem;
    width: 2vw;
    background-repeat: no-repeat;
}

.category-bar{
    height: 3rem;
    width: 100vw;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85vw;
    font-weight: bold;
    font-family: sans-serif;
}

.product{
    cursor: pointer;
    transition-duration: 300ms;
    height: 3rem;
    width: 25vw;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.onhover{
    height: 20rem;
    width: 100vw;
    background-color: black;
}

.product:hover{
    width: 40vw;
    cursor: pointer;
    transition-duration: 250ms;
    background-color: black;
    color: white;
}

.banner{
    height: 21rem;
    width: 100vw;
    background-image: url(./UP_Home_Page_Banner_June_Desktop.jpg);
    background-repeat: no-repeat;
}

.card-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32.5rem;    
    width: 100vw;
}

.card-holder{
    height: 30rem;
    width: 25vw;
    margin: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card{
    height: 25rem;
    width: 20vw;
    border: 2px black solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    margin-top: 1rem;
    background-image: url(./UP_Product_Labels_Main_Image_B-removebg-preview.png);
    background-repeat: no-repeat;
}

.card-text{
    margin: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.25vw;
}

.card:hover{
    box-shadow: 0px 50px 0px black;
    transition-duration: 250ms;
    cursor: pointer;
}

.adblock{
    width: 100vw;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-here{
    width: 78vw;
    height: 15.25rem;
    border: 2px black solid;
    background-image: url(./ad.jpg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.chatbot{
    position: fixed;
    bottom: 1.75rem;
    width: 10vw;
    height: 4rem;
    margin-left: 106rem;
    border-radius: 50px;
    border: 1px solid black;
    background: #bd3030;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-logo{
    height: 2rem;
    width: 2.5vw;
    background-image: url(./chat.png);
    background-repeat: no-repeat;
}

.chat-text{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-bar i{
    width: 5vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    display: none;
}

@media (max-width:600px) {
    .category-bar p{
        display: none;
    }

    .category-bar i{
        font-size: 5vw;
        padding-left: 3vw;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search-box .box2{
        border-right: 1px black solid;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .search-box .search-btn{
        display: none;
    }

    .account .myacctxt{
        display: none;
    }

    .cart .mycart-txt{
        display: none;
    }

    .account .account-logo{
        width: 8.5vw;
    }

    .cart .cart-logo{
        width: 8.5vw;
    }

    .category-bar{
        height: 5vh;
    }

    .category-bar .product{
        height: 5vh;
    }

    .banner{
        width: 100vw;
        height: 40vh;
        background-size: cover;
        background-position: 83.5%;
    }

    .card-block{
        flex-direction: column;
        width: 100vw;
        height: 175vh;
        justify-content: center;
    }

    .card-holder{
        width: 80vw;
        display: grid;
        justify-content: center;
    }

    .card-holder .card-text{
        margin-bottom: 4rem;
        color: black;
        font-size: 1rem;
    }

    .card{
        width: 80vw;
        height: 40vh;
    }

    .adblock{
        height: 15vh;
    }

    .ad-here{
        width: 90vw;
        height: 7vh;
        background-size: contain;
    }
}